html {
    font-size: 1.5vw;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #4d4d4d;
    text-align: left;
    margin: 0;
    font-weight: 300;
}

a {
    text-decoration: none;
    font-weight: 300;
    color: #4d4d4d;
    transition: color 400ms;
    border-color: rgba(29, 29, 29, 0);
}

a:hover {
    color: rgb(252, 194, 107);
}

.flex-container {
    display: flex;
}

.flex-container p a {
	background-color: rgb(248 230 249);
    margin: 0;
}


/*dropdown content*/

.dropdown {
    padding: 16px;
    border: none;
}

.drop {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 180px;
    margin-top: 0.5em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1em;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.drop:hover .dropdown-content {
    display: block;
	background-color: #e6e6e6;
}

/*header*/

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 100;
    opacity: 90%;
}

.logo h1 {
    font-size: 1.5rem;
    font-weight: 550;
    color: rgb(29, 29, 29);
    opacity: 85%;
    margin: 0 1em;
}

.nav-content {
    align-items: center;
    height: 4rem;
    padding: 0 1.5rem;
}

#light {
    font-weight: 300;
    color: #b3b3b3;
}

#logoimg {
    height: 4rem;
    margin-top: 0.5rem;
    opacity: 85%;
    padding: 5px;
}

.navspan {
    padding-right: 16px;
}

.nav-desktop {
    flex-grow: 1;
    text-align: right;
}


/*main*/

main {
    margin-top: 4rem;
    position: relative;
    width: 100%;
}


/*second section*/

.second-section {
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.left {
    padding: 2rem 1.5rem;
    flex-direction: column;
    width: 60%;
}

.info-img {
    max-width: 100%;
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.right {
    flex-direction: column;
    flex: 1;
    border-left: 0.5px solid #e6e6e6;
    padding-top: 1rem;
}

.info-blocks {
    border-bottom: 0.5px solid #e6e6e6;
    padding: 1.5rem 1rem 1rem 1rem;
}

.container-img {
    max-width: 100%;
    padding-left: 1rem;
}

.containerimg img {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

#containerimg1 {

    background-size: cover;
    background-position: left bottom;
    width: 35%;
}

#containerimg2 {

    background-size: cover;
    background-position: left bottom;
    width: 35%;
}

#containerimg3 {

    background-size: cover;
    background-position: left bottom;
    width: 35%;
}

#containerimg4 {

    background-size: cover;
    background-position: left bottom;
    width: 35%;
}

.container-text {
    width: 65%;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
}

.categories {
    display: flex;
    background: #de89919c;
    justify-content: space-around;
    color: white;
}

.categories h2 {
    font-weight: bold;
    /* -webkit-text-stroke: 1px rgba(255, 136, 120, 0.413);; */
}

.container-text h4 {
    margin: 0;
}

.grey {
    background-color: #e6e6e6;
}

#info-name {
    font-weight: 400;
    font-size: 0.9rem;
    margin-top: 32px;
}

h3.info-text {
    margin-bottom: 1.5rem;
}

#text {
    margin: 0.5rem 0;
}

#readmore {
    color: rgb(74, 169, 247);
}


/*first section*/

.first-section {
    background-color: #e6e6e6
}

#light {
    background-color: white;
}

.banner {
    padding: 2rem 1.5rem;
    width: 60%;
}

.banner img {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.banner-text {
    flex-direction: column;
    justify-content: center;
    color: #4d4d4d;
    margin: 1em;
}

.button {
    width: 50%;
    padding: 1rem 0;
    background-color: #4d4d4d;
    color: white;
    text-align: center;
    font-weight: 400;
    transition: color 400ms;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: rgb(255, 153, 0);
    opacity: 80%;
    color: white;
}


/*forms*/

form {
    display: flex;
    flex-direction: column;
}

.forms {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: rgba(252, 230, 254, 0.786);
    margin: 2rem;
    padding: 2rem;
    border-radius: 2em;
    box-shadow: 0 0.5rem 1rem rgba(80, 80, 80, 0.421);
}

.landing {
    width: 70%;
    color: #5f5f5f;
    text-shadow: 0px 1px 3px #28282870;
    background-color: rgb(239 247 255 / 38%);
    margin: auto;
    padding: 2rem;
    border-radius: 2em;
    box-shadow: 0 0.5rem 1rem rgb(80 80 80 / 32%);
}



#flex_forms {
    justify-content: center;
    padding: auto;
}

.delete {
    border-radius: 2px;
    margin-left: 5px;
    color: rgb(255, 235, 235);
    padding: 2px 7px;
    border: solid 1px #8f8f8f;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 133, 133)), to(#fc3b3b));
}

input {
	padding: 5px;
    height: 1.5em;
    border-radius: 1em;
    border: initial;
    box-shadow: 0 0.2rem 0.5rem rgba(175, 175, 175, 0.421);
}

input[type="checkbox" i] {
    border-radius: 1em;
	padding: 5px;
    border: initial;
    box-shadow: 0 0.2rem 0.5rem rgba(175, 175, 175, 0.421);
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
    width: 1.5em;
}

label {
    padding: 5px 0;
}

.product-list {
    display: flex;
}

.product-container {
    display: flex;
    flex-direction: column;
}

.product-list {
	margin-top: 4rem;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.flex-container-items {
	padding: 2em;
	display: flex;
	flex-direction: column;
}

.item-img {
    width: 7em;
}

.basket-list {
	display: flex;
    padding: 2rem;
    margin: 2rem;
}
.basket-item {
	width: 25%;
    padding: 2rem 35px;
}

#total-size {
	width: 25%;
}



.all-products {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 10% 2% ;
}
.one-product {
    border: 5px solid rgb(144, 90, 19);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin-bottom: 2%;
    background-color: rgb(221, 155, 81);
}
.one-product .right {
    flex-direction: column;
    width: 70%;
    /* background-color: #5f5f5f; */
    margin: 0;
    padding: 0;
    /* height: 100%; */
    /* justify-content: space-between; */
    border-left: 5px solid rgb(144, 90, 19);
}
.one-product .right-bottom {
    display: flex;
    /* background-color: green; */
    font-size: 1.1em;
    height: 52%;
    /* border: 5px solid rgb(144, 90, 19);
    border-radius: 10px; */
    /* border-bottom: 3px solid rebeccapurple; */
    /* margin-bottom: 1px; */
}
.one-product .right-top {
    /* background-color: red; */
    /* border: 5px solid rgb(144, 90, 19); */
    border-bottom: 5px solid rgb(144, 90, 19);
    /* border-left: 5px solid rgb(144, 90, 19;
    border-bottom: 5px solid rgb(144, 90, 19; */
    /* border-radius: 5px; */
    padding-top: 1%;
    text-align: center;
    font-size: 1.6em;
    text-decoration: underline;
    /* height: 40%; */
    /* justify-content: flex-start; */
}
.one-product .right-bottom .info {
    border-left: 5px solid rgb(144, 90, 19);

    padding-bottom: 1px;
}
.one-product .product-info {
    /* background-color: rgb(163, 163, 198); */
    min-width: 70%;
    font-size: 90%;
    /* padding-bottom: 1px; */
    padding-left: 3%;
}
.one-product .product-info .price{
    font-size: 1.2em;
    /* background-color: rgb(163, 163, 198); */
}
.one-product .product-img {
    width: 30%;
}
.one-product .product-img img {
    width: 98%;
    padding: 1%;
}
.one-product .cart img {
    width: 20%;
    float: right;
    /* float: inline-end; */
}

.all-products .right .right-bottom .info {
    /* display: block; */
    /* flex-direction: row; */
    flex-direction: column;
    justify-content: space-between;
}
.all-products .right .right-bottom .info .cart {
    /* display: block; */
    /* flex-direction: row; */
    flex-direction: column;
    padding: 5%;
    justify-content: space-between;
}
.all-products .right .right-bottom .info .price {
    /* display: block; */
    /* flex-direction: row; */
    flex-direction: column;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(92, 66, 0);
    padding-top: 4%;
    /* justify-content: space-between; */
    /* background-color: lightblue; */
    height: 40%;
    width: 100%;
}

.one-product .right-bottom .cart input {
    /* max-width: 80%; */
}
.one-product .right-bottom .cart form {
    justify-content: center;
    /* max-width: 80%; */
}
.one-product .right-bottom .cart {
    /* background-color: lightcoral; */
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}


.one-product .right-bottom .cart #form-number{
    width: 40%;
    height: 5%;
    justify-content: center;
    text-align: center;
    display: flex;
    /* margin-bottom: 2%; */
    margin: 2% 10% 2% 25%;
}

.one-product .right-bottom .cart #form-submit{
    width: 30%;
    height: 5%;
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 2% 40% 0% 30%;
}

.all-prods {
    display: flex;
    justify-content: space-between;
    margin: 2%;
    padding-top: 5%;
}
.one-prod {
    flex-direction: column;
    margin: 3%;
    border: 5px solid rgb(144, 90, 19);
    border-radius: 10px;
    background-color: rgb(221, 155, 81);
    /* max-width: 200px; */
}

.one-prod .prod-img {
    /* width: 100%; */
    /* size: 10%; */
    /* height: 30%; */
    padding: 5% 15% 0 25%;
    justify-content: center;
}
.one-prod .prod-img img{
    width: 80%;
}

.one-prod .prod-price {
    font-size: 2em;
    text-align: center;
    color: #904e07;
    font-weight: bold;
}

.one-prod .prod-form {
    padding: 0% 10%;
    position: relative;
    top: -5%;

}

#form-num {
    margin-left: 15%;
    width: 50%;
}
#form-sub {
    width: 60%;
    min-width: 40px;
    /* margin-left: 5%; */
    margin: 7% 15% 0 15%;
}





.cart-header {
    display: flex ;
    border: 5px solid rgb(144, 90, 19);
    /* justify-content: center; */
    justify-content: space-between;
    width: 68%;
    margin: 0 15%;
    border-radius: 10px;
    background-color: rgb(208, 128, 36);
    font-weight: bold;
    text-decoration: underline;
    padding: 1%;
}
.cart-header-total{
    display: flex ;
    width: 10%;
    /* background-color: red; */
    justify-content: center;
}
.cart-header-amount{
    display: flex ;
    width: 10%;
    /* background-color: rgb(50, 165, 63); */
    justify-content: center;
}
.cart-header-cost{
    display: flex ;
    width: 10%;
    /* background-color: rgb(50, 165, 63); */
    justify-content: center;
}
.cart-header-name{
    display: flex ;
    width: 20%;
    /* background-color: rgb(50, 165, 63); */
    justify-content: center;
    padding-right: 10%;
}
.cart-header-img{
    display: flex ;
    width: 30%;
    /* background-color: rgb(50, 165, 63); */
    justify-content: center;
}

.cart-page {
    display: block;
    /* background-color: rgb(175, 63, 100); */
    /* border: 5px solid red; */
    width: 70%;
    /* padding: 0 1%; */
    justify-content: center;
    border: 5px solid rgb(144, 90, 19);
    border-radius: 10px;
    background-color: rgb(221, 155, 81);
    margin: 0 15% 5% 15%;
}

.cart-item {
    display: flex;
    border: 2px solid rgb(144, 90, 19);
    justify-content: space-between;
    margin: 1%;
    border-radius: 5px;
}
.cart-item .img{
    /* display: flex; */
    /* max-width: 10px; */
    max-height: 20px;
    width: 20%;
    align-items: center;
    justify-content: center;
    /* border: 2px solid rgb(144, 90, 19);
    border-radius: 5px; */
}
.cart-item .img img{
    /* display: flex; */
    /* max-width: 10px; */
    max-height: 20px;
    width: 20%;
    /* border: 2px solid rgb(144, 90, 19);
    border-radius: 5px; */
}

.cart-item .item-name {
    /* background-color: green; */
    width: 30%;
}
.cart-item .item-price {
    /* background-color: lightblue; */
}

.cart-item .item-total {
    width: 8%;
    justify-content: center;
    align-items: center;
}

.cart-item .item-total {
    width: 5%;
    justify-content: center;
    align-items: center;
    padding-right: 2%;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

.cart-final-amount {
    /* background-color: white; */
    color: black;
    text-align: center;
    font-weight: bold;
    width: 10%;
}
.cart-total-text {
    /* background-color: white; */
    color: black;
    text-align: right;
    font-weight: bolder;
    text-decoration: underline;
    width: 90%;
}

.added {
    width: 70%;
    margin: 10% 15% 0 15%;
    /* padding: 20%; */
    border: 5px solid rgb(144, 90, 19);
    border-radius: 10px;
    background-color: rgb(221, 155, 81);
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: rgb(255, 255, 255);
}